.projects {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(3, 1fr);

    // setting the images to a 100% of their container; 
    // therefore adjusting them to be smaller
    img {
        width: 100%;
        border: 3px white solid;

        &:hover {
            opacity: 0.8;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Button Styles
.btn {
    // Inline block so the buttons on on their own line
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color
        ($secondary-color);
    }
}

// Extending the button class to the dark and light buttons
.btn-dark {
    @extend .btn;
}

.btn-light {
    @extend .btn;
}