.item {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  border: 3px #ab1aee solid;
}

.item .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.item .desc {
  padding: 15px;
  text-align: center;
  font-size: 12px;
  background-color: burlywood;
}

.item .projectTitle {
  background-color: burlywood;
}

.item img {
  width: 100%;
  height: auto;
}

.item img:hover {
  opacity: 0.8;
  border-color: #ab1aee;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/*General Styling*/
body {
  background-color: #f2f2f2;
  font-family: 'Karla', Arial, sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

a:hover {
  color: #ab1aee;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/*Card Styling*/
.card {
  border: 1px solid #dedede;
  background-color: white;
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navBar {
  overflow: hidden;
  background-color: #f1f1f1;
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Links inside the navbar */
}

.navBar a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.navBar a.active {
  background-color: #ab1aee;
  color: white;
}

.navBar a:hover:not(.active) {
  background-color: #555;
  color: #ab1aee;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/*General Styling*/
body {
  background-color: #f2f2f2;
  font-family: 'Karla', Arial, sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
  width: 100%;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

/*Card Styling*/
.card {
  border: 1px solid #dedede;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job {
  border: solid 3px #ab1aee;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about {
  border: solid 3px #ab1aee;
  padding-left: 10px;
  margin-bottom: 30px;
}

.subTitle {
  font-weight: bold;
  padding: 10px;
}

/*Art Nav Bar*/
/* The navigation bar */
/*General Styling*/
body {
  background-color: #f2f2f2;
  font-family: 'Karla', Arial, sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

/*Card Styling*/
.card {
  border: 1px solid #dedede;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job {
  border: solid 3px #ab1aee;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about {
  border: solid 3px #ab1aee;
  padding-left: 10px;
  margin-bottom: 30px;
}

.subTitle {
  font-weight: bold;
  padding: 10px;
}

/*Art Nav Bar*/
/* The navigation bar */
/*General Styling*/
h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

/*Card Styling*/
.card {
  border: 1px solid #dedede;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job {
  border: solid 3px #ab1aee;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about {
  border: solid 3px #ab1aee;
  padding-left: 10px;
  margin-bottom: 30px;
}

.subTitle {
  font-weight: bold;
  padding: 10px;
}

/*Art Nav Bar*/
/* The navigation bar */
.artNavbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* Links inside the navbar */
}

.artNavbar a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.artNavbar a.active {
  background-color: #ab1aee;
  color: white;
}

.artNavbar a:hover:not(.active) {
  background-color: #555;
  color: #ab1aee;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

/*General Styling*/
h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
}

.pull {
  float: left;
}

.push {
  float: right;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 100px auto;
}

img {
  width: 100%;
  display: block;
}

/*Card Styling*/
.card {
  border: 1px solid #dedede;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__wrap--inner {
  padding: 12px;
}

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__wrap--outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card__wrap--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 480px) {
  .card__wrap--inner {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card__wrap--inner {
    width: 33.33%;
  }
}

.flexible {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.job {
  border: solid 3px #ab1aee;
  margin-bottom: 10px;
  padding-left: 10px;
}

.about {
  border: solid 3px #ab1aee;
  padding-left: 10px;
  margin-bottom: 30px;
}

.subTitle {
  font-weight: bold;
  padding: 10px;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #3f3f3f;
  list-style: none;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(-600px, 0, 0);
          transform: translate3d(-600px, 0, 0);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #ab1aee;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu .nav-link:hover {
  color: #ab1aee;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

body {
  margin: auto;
}

.title {
  text-align: center;
}

.nav {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainNav {
  margin-top: 0;
  padding-top: 10px;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainNav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.mainNav a.active {
  background-color: #ab1aee;
  color: white;
}

.mainNav a:hover:not(.active) {
  background-color: #555;
  color: #ab1aee;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.mainPageContent {
  margin-left: 15%;
  padding: 1px 16px;
  height: 1000px;
}

.mainContent {
  margin-left: 0%;
  padding: 1px 16px;
  height: 1000px;
}

.navImage {
  border: solid 3px #ab1aee;
}

.about {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.job {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 700px) {
  .mainNav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  a {
    float: left;
  }
  .mainContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .navBar {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  a {
    float: left;
  }
  .mainContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .mainPageContent {
    margin-left: 0;
    padding: 1px 16px;
    height: 1000px;
  }
}

@media screen and (max-width: 400px) {
  .navBar a {
    text-align: center;
    position: relative;
    float: none;
  }
}
/*# sourceMappingURL=main.css.map */