.navBar {
    overflow: hidden;
    background-color: #f1f1f1;
    // position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
  /* Links inside the navbar */
  a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  a.active {
    background-color: #ab1aee;
    color: white;
    
  }
  
  a:hover:not(.active) {
    background-color: #555;
    color: $secondary-color;
    @include easeOut();
  }

}




/*General Styling*/

body {
    background-color: #f2f2f2;
    font-family: 'Karla', Arial, sans-serif;

    * {
        box-sizing: border-box;
    }
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

small {
    font-size: 14px;
}

.pull {
    float: left;
}

.push {
    float: right;
}

.container {
  width: 100%;
//   max-width: 960px;
  margin: 100px auto;
}

img {
    width: 100%;
    display: block;
}

/*Card Styling*/

.card {
    border: 1px solid #dedede;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &__wrap {

        &--inner {
            padding: 12px;
        }
    }

    &__item {
        padding: 12px 18px 12px 18px;
    }

    &__sub {
        padding: 0 18px;
    }

    &__footer {
        padding: 18px;
        overflow: hidden;
        border-top: 1px solid #dedede;
    }
}

/*Card Flex Code*/

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__wrap {

        &--outer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            width: 100%;
          
            @media (min-width: 480px) { 
                width: 50%;
            }
          
            @media (min-width: 1024px) { 
                width: 33.33%;
            }
        }
    }
}

.flexible {
    flex-grow: 1;
}

.job {
    border: solid 3px #ab1aee;
    margin-bottom: 10px;
    padding-left: 10px;
}

.about {
    border: solid 3px #ab1aee;
    padding-left: 10px;
    margin-bottom: 30px;
}

.subTitle {
    font-weight: bold;
    // text-align: center;
    padding: 10px;
}