@media screen and (max-width: 700px) {
  .mainNav {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  a {
    float: left;
  }
  .mainContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .navBar {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    // top: 75px
  }
  a {
    float: left;
  }
  .mainContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .mainPageContent {
    margin-left: 0;
    padding:1px 16px;
    height:1000px;
    // background-image: $home-image;
    // background-attachment: fixed;
    // background-size: cover;
    // opacity: $background-opacity;
  }
}

@media screen and (max-width: 400px) {
  .navBar a {
    text-align: center;
    position: relative;
    float: none;
  }
}



