@media screen and (max-width: 700px) {
  .navBar {
    width: 100%;
    height: auto;
    position: relative;
  }
  a {float: left;}
  .mainContent {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .navBar a {
    text-align: center;
    float: none;
  }
}

