/* Stlying of the tabs */
.projectTabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: gray;
    position: relative;
}

.projectTabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    left: 50%;
}

#xButton {
  cursor: hand;
}

/* Change background color of buttons on hover */
.projectTabs button:hover {
    background-color: rgb(119, 18, 18);
  }

  /* Create an active/current tablink class */
.projectTabs button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

