@import 'settings';
@import 'projects';
@import 'art';


body {
  margin: auto;
}

.title {
  text-align: center;
}


.nav {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navBar {
    margin-top: 0;
    padding-top: 10px;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
   a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  a.active {
    background-color: #ab1aee;
    color: white;
    // 
    
  }
  
  a:hover:not(.active) {
    background-color: #555;
    color: $secondary-color;
    @include easeOut();
  }

}



.mainContent {
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
    // background-image: $home-image;
    // background-attachment: fixed;
    // background-size: cover;
    // opacity: $background-opacity;
}

.portrait {
    width: 250px;
    height: 250px;
    background: url("/src/public/assets/images/me-250px.jpg");
    border-radius: 50%;
    border: solid 3px #ab1aee;
}


.icons {
    margin-top: 1rem;

    a {
		    display: block;
        padding: 0.4rem;

        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
}

.iconsP {

  a {

      &:hover {
          color: $secondary-color;
          @include easeOut();
      }
  }
}

@import 'mobile';

    